<h2> Edit Book Details </h2>

<form method="POST" action="/books/<%=@book.id%>">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <label>Title:</label>
  <input type="text" name="book[title]" value="<%= @book.title %>"></input><br>
  <label>Choose an existing Publisher:</label><br>
  <% @publishers.each do |publisher| %>
  <input type="radio" name="book[publisher_id]" id="<%=publisher.id%>" value="<%=publisher.id%>" <%='checked' if @book.publisher == publisher %>><%=publisher.name%></input>
  <% end %><br>


  <label>Or, create a new publisher:</label>
  <label>Name:</label>
  <input type="text" name="publisher[name]" value=""><br>

  <input type="submit" value="submit">
</form>
<br>
<a href="/books">Return to Books Index</a>
<a href="/logout">Log out</a>
