<p>Book Title: <%= @book.title %>
<p>Publisher: <%= @book.publisher.name %>
<p>Plot Summary: <%= @book.summary %>

<form method="post" action="/books/<%=@book.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Book">
</form>

<a href="/books/<%=@book.id%>/edit">Edit Book Details </a>
